//	
	Portal web transparente.ugr.es para publicar datos de la Universidad de Granada
	Copyright (C) 2014  Jaime Torres Benavente

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.


doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
html(xmlns="http://www.w3.org/1999/xhtml", lang="es", xml:lang="es")
	head
		title UGR transparente | Universidad de Granada
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(name="description", content="Universidad de Granada - UGR transparente")
		meta(name="keywords", content="universidad,granada,UGR transparente")
		meta(http-equiv="content-language", name="language", content="es")
		link(rel="shortcut icon", href="/img/favicon.ico", type="image/vnd.microsoft.icon")
		link(rel="icon", href="/img/favicon.ico", type="image/vnd.microsoft.icon")
		link(rel="stylesheet", id="css-style", type="text/css", href="css/style.css", media="all")

		if seccion=="Información Económica"
			script(type='text/javascript', src="https://www.google.com/jsapi") 

			script(type='text/javascript')
				| google.load('visualization', '1', {packages:['table']});
				| google.setOnLoadCallback(drawTable);
				| function drawTable() {
				| 	var data = new google.visualization.DataTable();

				|	data.addColumn('number', 'Fecha');
				|	data.addColumn('number', 'Cod_capitulo');
				|	data.addColumn('string', 'Capitulo');
				|	data.addColumn('number', 'Cod_articulo');
				|	data.addColumn('string', 'Articulo');
				|	data.addColumn('number', 'Cod_concepto');
				|	data.addColumn('string', 'Concepto');
				|	data.addColumn('string', 'Cod_subconcepto');
				|	data.addColumn('string', 'Subconcepto');
				|   data.addColumn('string', 'Cantidad');

				- for (var i=0;i<tam;i++)
					|		data.addRow([#{datos[i][1]},#{datos[i][2]},'#{datos[i][3]}',#{datos[i][4]},'#{datos[i][5]}',#{datos[i][6]},'#{datos[i][7]}','#{datos[i][8]}','#{datos[i][9]}','#{datos[i][10]}']);
				| var table = new google.visualization.Table(document.getElementById('table_div'));
				| table.draw(data, {showRowNumber: true});
				| }


			script(type='text/javascript')
				| google.load('visualization', '1', {packages:['table']});
				| google.setOnLoadCallback(drawTable);
				| function drawTable() {
				| 	var data = new google.visualization.DataTable();

				|	data.addColumn('number', 'Fecha');
				|	data.addColumn('number', 'Cod_capitulo');
				|	data.addColumn('string', 'Capitulo');
				|	data.addColumn('number', 'Cod_articulo');
				|	data.addColumn('string', 'Articulo');
				|	data.addColumn('number', 'Cod_concepto');
				|	data.addColumn('string', 'Concepto');
				|	data.addColumn('string', 'Cod_subconcepto');
				|	data.addColumn('string', 'Subconcepto');
				|   data.addColumn('string', 'Cantidad');

				- for (var i=0;i<tam2;i++)
					|		data.addRow([#{datos2[i][1]},#{datos2[i][2]},'#{datos2[i][3]}',#{datos2[i][4]},'#{datos2[i][5]}',#{datos2[i][6]},'#{datos2[i][7]}','#{datos2[i][8]}','#{datos2[i][9]}','#{datos2[i][10]}']);
				| var table = new google.visualization.Table(document.getElementById('table_div2'));
				| table.draw(data, {showRowNumber: true});
				| }

	body
		div(id="contenedor_margenes" class="")
			div(id="contenedor" class="")
				div(id="cabecera" class="")
					h1#cab_inf UGR transparente
					#formularios
						img(src="imagenes/osl.jpg" id="logoOSL")
						a(href="http://www.ugr.es", id="enlace_ugr") Universidad de Granada
						span.separador_enlaces |
						div(class="depto ejemplo_titulo")
							h1#titulo_stack UGR transparente
							a(href="/", id="enlace_stack") UGR transparente
						span.separador_enlaces | 


				

				block content

				

				#banners
					.mod-banners
						ul
							li(class="banner_container model-resaltado-02 showtext")
								a(class="banner", href="http://opendata.ugr.es:5000/")
									strong Portal opendata de la UGR
									em opendata.ugr.es es un portal para la publicación y consulta de datos abiertos de la UGR


							li(class="banner_container model-resaltado-02 showtext")
								a(class="banner", href="osl.ugr.es")
									strong Oficina de Software Libre
									em Portal de la OSL de la Universidad de Granada
		

							li(class="banner_container model-resaltado-01 showtext")
								a(class="banner", href="http://okfn.org/")
									strong Open Knowledge Foundation
									em okfn.org
				

				#interior_pie
					#pie
						a(class="cmswebmap", href="#") Mapa del sitio
						span.separador_enlaces  | 
						a(class="contactar", href="#") Contacto
						span.separador_enlaces  | 
						a(class="validador", href="#") Accesibilidad
						span.separador_enlaces  | 
						a(class="privacidad", href="#") Política de privacidad
						p <a href="http://www.ugr.es/pages/creditos">&copy; 2014</a> <span class="separador_enlaces"> | </span> <a href="http://www.ugr.es">Universidad de Granada</a></p>


